@model Protection_civile.Models.Attestation

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">

    <H2> اضافة  شهادة الوقاية </H2>
    <hr />
    <div class="row shadow-lg p-3 mb-5 bg-white rounded">
        <div class="col-12">
            <p>النشاط : @ViewBag.activite</p>
            <p>العنوان : @ViewBag.adresse</p>
            <p>النوع: @ViewBag.type</p>
            <p>الصنف: @ViewBag.categorie</p>
            <form asp-action="Creater">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group col-md-4">
                    <label asp-for="numatt" class="control-label"></label>
                    <input asp-for="numatt" class="form-control" />
                    <span asp-validation-for="numatt" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="DateN" class="control-label"></label>
                    <input asp-for="DateN" class="form-control" />
                    <span asp-validation-for="DateN" class="text-danger"></span>
                </div>

                <div class="form-group btns-pos col-md-4">

                    <input asp-for="DemandeId" type="hidden" class="form-control" value="@ViewBag.id" />

                </div>
                <div class="form-group">
                    <div class="btns-pos">
                        <input type="submit" value="تسحيل" class="btn btn-primary" />
                        <a class="btn btn-secondary" asp-action="Index">الرجوع الى القائمة</a>
                    </div>
                </div>

            </form>
        </div>
    </div>

</div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
