@model Protection_civile.Models.RapportInitial

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">

    <H2> حذف تقرير اولي </H2>
    <div>
        
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DateN)
            </dt>
            <dt class="col-sm-10">
                @Html.DisplayFor(model => model.DateN)
            </dt><dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.numri)
            </dt>
            <dt class="col-sm-10">
                @Html.DisplayFor(model => model.numri)
            </dt><dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Datev)
            </dt>
            <dt class="col-sm-10">
                @Html.DisplayFor(model => model.Datev)
            </dt>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.description)
            </dt>
            <dt class="col-sm-10">
                @Html.DisplayFor(model => model.description)
            </dt>
            
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="حذف" class="btn btn-danger" /> |
            <a asp-action="Index">الرجوع الى القائمة</a>
        </form>
    </div>
    </div>
