@model Protection_civile.Models.RapportInitial

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">

    <H2> تفاصيل خاصة بتقرير اولي </H2>

        <hr />
    <div class=" shadow-lg p-3 mb-5 bg-white rounded">

        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DateN)
            </dt>
            <dt class="col-sm-10">
                @Html.DisplayFor(model => model.DateN)
            </dt>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.numri)
            </dt>
            <dt class="col-sm-10">
                @Html.DisplayFor(model => model.numri)
            </dt>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Datev)
            </dt>
            <dt class="col-sm-10">
                @Html.DisplayFor(model => model.Datev)
            </dt>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.description)
            </dt>
            <dt class="col-sm-10">
                @Html.DisplayFor(model => model.description)
            </dt>
         
            
        </dl>
    <div class="btns-pos">
        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.Id">اصلاح</a>
        <a class="btn btn-secondary" asp-action="Index">الرجوع الى القائمة</a>
    </div>
    </div>
</div>
