@model Protection_civile.Models.Demande

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <div class="main">
        <div >
            <h4>Demande</h4>
        </div>

        <div class="btnGroup">
            <button type="button" class="btn btn-primary">rapport initial</button>
            <button type="button" class="btn btn-primary">rapport final</button>
            <button type="button" class="btn btn-primary">attestation</button>
        </div>



    </div>
    
        
    
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.nom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.nom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.prenom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.prenom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.tel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.tel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.numcin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.numcin)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.nomentreprise)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.nomentreprise)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.adresse)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.adresse)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.categorie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.categorie)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.numdemande)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.numdemande)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.numrecu)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.numrecu)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
